#Header {
    text-align: center;
    height: 20%;
}

#Video {
    padding-right: 3%
}

#Content {
    background-color: rgb(199, 199, 199);
}

#myChart {
    width: 0%;
    height: 0%
}

#Chart {
    width: 50%;
    height: 50%;
    align-content: flex-end;
    float: right;
    clear: none;
}

#listVideos {
    padding-top: 4%;
    padding-left: 4%;
}

#ActualVideo {
    padding-right: 5%;
}

#textHeader {
    color: aliceblue;
}